@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #f79ee8;
    --branco: #f792e9;
    --laranja: #fa03bc;
    --azul-degrade: linear-gradient(97.54deg, #e243b2 35.49%, #f78de5 165.37%);
    --fonte-principal: "Poppins";
    --azul: #e724ad;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}